IO_LOC "LED_R"   10;  IO_PORT "LED_R"   IO_TYPE = LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "BTN_B"   4;   IO_PORT "BTN_B"   PULL_MODE=UP DRIVE=8;
IO_LOC "TX_OUT"  70;  IO_PORT "TX_OUT"  PULL_MODE=UP DRIVE=8;
IO_LOC "SYS_CLK" 52;  IO_PORT "SYS_CLK" PULL_MODE=UP;

