IO_LOC "SYS_CLK" 52; IO_PORT "SYS_CLK" PULL_MODE=UP;

IO_LOC "SW1"   3;    IO_PORT "SW1"     IO_TYPE = LVCMOS33 PULL_MODE=NONE;
IO_LOC "SW2"   4;    IO_PORT "SW2"     IO_TYPE = LVCMOS33 PULL_MODE=NONE;

IO_LOC "LED1"   10; IO_PORT "LED1"   IO_TYPE = LVCMOS33 PULL_MODE=NONE DRIVE=8; 
IO_LOC "LED2"   11; IO_PORT "LED2"   IO_TYPE = LVCMOS33 PULL_MODE=NONE DRIVE=8; 
IO_LOC "LED3"   13; IO_PORT "LED3"   IO_TYPE = LVCMOS33 PULL_MODE=NONE DRIVE=8; 
IO_LOC "LED4"   14; IO_PORT "LED4"   IO_TYPE = LVCMOS33 PULL_MODE=NONE DRIVE=8; 
IO_LOC "LED5"   15; IO_PORT "LED5"   IO_TYPE = LVCMOS33 PULL_MODE=NONE DRIVE=8; 
IO_LOC "LED6"   16; IO_PORT "LED6"   IO_TYPE = LVCMOS33 PULL_MODE=NONE DRIVE=8; 
