//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.01Beta
//Part Number: GW1NSR-LV4CQN48PC7/I6
//Device: GW1NSR-4C
//Created Time: Fri 06 11 14:54:37 2021

IO_LOC "SYS_CLK" 45;
IO_LOC "LED_R" 10;
IO_LOC "USR_KEY_1" 14;
IO_LOC "USR_KEY_2" 15;

IO_PORT "LED_R" PULL_MODE=NONE DRIVE=8;
IO_PORT "SYS_CLK" PULL_MODE=UP;
IO_PORT "USR_KEY_1" IO_TYPE=LVCMOS18 PULL_MODE=UP;
IO_PORT "USR_KEY_2" IO_TYPE=LVCMOS18 PULL_MODE=UP;
