//Part Number: GW1NZ-LV1QN48C6/I5

IO_LOC "SYS_CLK" 47;
IO_LOC "BTN_A" 13;
IO_LOC "BTN_B" 44;
IO_LOC "LED_R" 9;
IO_LOC "LED_G" 11;
IO_LOC "LED_B" 10;
IO_LOC "TX_OUT" 40;

IO_PORT "SYS_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "LED_R" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "LED_G" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "LED_B" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "TX_OUT" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "BTN_A" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "BTN_B" IO_TYPE=LVCMOS33 PULL_MODE=UP;
